/* Default CSS */
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
h3,
h5 {
  padding: 0px 8px;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Loader */
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

/*utility classes*/
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-container-2-fix {
  display: grid;
  grid-template-columns: auto auto;
}
.w-100 {
  width: 100%;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-white {
  background-color: #fff;
}
.border-r-2 {
  border: solid 1px #a19898;
  border-radius: 8px;
}
.p-03 {
  padding: 0.3rem;
}
.t-align-c {
  text-align: center;
}

/*Custom */
.agunity__image {
  max-width: 500px;
}
.men-bg {
  background-color: #d7f5f3;
  border-radius: 3px;
}
.men-bg-inner {
  background-color: #38b2ac;
}
.women-bg {
  background-color: #e9e0ff;
  border-radius: 3px;
}
.women-bg-inner {
  background-color: #553c9a;
}
.youth-bg {
  background-color: #cce6ff;
  border-radius: 3px;
}
.youth-bg-inner {
  background-color: #3182ce;
}
